

.animated-hero{
  position: relative;
}

.ah-title {
  font-size: clamp(3rem, 10vw, 12rem);
  line-height: 0.95;
  margin: 0 0 0.5rem 0;
  font-weight: 800;

}

.ah-subtitle {
  font-size: clamp(1rem, 2.2vw, 1.4rem);
  line-height: 1.4;
  max-width: 70ch;
  margin: 0;
  opacity: 0.9;
}

.ah-mid {
  font-size: clamp(2rem, 5vw, 8rem);
  line-height: 1.4;
  max-width: 70ch;
  margin: 0;
  opacity: 0.9;
}







