.wrap-ring {
position: relative;
}


.cercle {
  overflow: visible;

  transform-origin: 50% 50%;
  display: grid;
  place-items: center;
  color: #787878;
  pointer-events: none;
  position: absolute;
  right: 0;
  z-index: -1;

}