.link{
  position: relative;
  display: flex;
  align-items: center;

  .indicator{
    width: 14px;
    height: 14px;
    background: var(--gradientlight);
    border-radius: 50%;
    position: absolute;
    left: -30px;
  }
}

