.menuWrap {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1000;
}

/* panneau sous-couche */
.panelUnder {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: min(500px, 100vw);
  background: var(--foreground);

  pointer-events: auto;
  will-change: transform;
  z-index: 0;
}

/* panneau principal */
.menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;

  background-color: rgb(23, 23, 23);
  color: white;
  z-index: 1;
  pointer-events: auto;

  .body{
    box-sizing: border-box;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nav{
      display: flex;
      flex-direction: column;
      font-size: 56px;
      gap: 12px;
      margin-top: 80px;

      .header{
        color: rgb(153, 153, 153);
        border-bottom: 1px solid rgb(153, 153, 153);
        text-transform: uppercase;
        font-size: clamp(24px, 1.5vw, 30px);
        margin-bottom: 40px;
      }

      a{
        text-decoration: none;
        color: white;
        font-weight: 300;
      }
    }

    /* <- footer BIEN à l’intérieur de .body comme dans ton JSX */
    .footer{
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-size: clamp(16px, 1.3vw, 20px);
      gap: 40px;
    }
  }
}


.blurOverlay {
  position: absolute;
  inset: 0;
  pointer-events: auto;
  backdrop-filter: blur(2px);
  background: rgba(0,0,0,0.5); // léger voile
  z-index: 0; // sous le menu, au-dessus de la page
}